:root {
  background-color: rgb(39, 39, 39);
  
}

.count-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 150px;
}

.counter-display{
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 50px;
  color: white;
}

.count-button {
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(160, 91%, 43%);
  color: white;
}

.count-button:hover {
  background-color: hsl(160, 91%, 33%);
}